@model statsmachine.Models.WarmachineGame

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Warmachine</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.player)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.player)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.faction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.faction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.result)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.result)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.resultType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.resultType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pointSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pointSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.caster)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.caster)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.themeforce)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.themeforce)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.objective)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.objective)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.scenario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.scenario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.controlPoints)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.controlPoints)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.opponent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.opponent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.opponentCaster)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.opponentCaster)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.opponentPoints)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.opponentPoints)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
