@model IEnumerable<statsmachine.Models.UserGamesViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>UserGames - Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Id)</th>
        <th>@Html.DisplayNameFor(model => model.username)</th>
        <th>@Html.DisplayNameFor(model => model.gameid)</th>
        <th><span>&nbsp;</span></th>
    </tr>
    
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Id)</td>
            <td>@Html.DisplayFor(modelItem => item.username)</td>
            <td>@Html.DisplayFor(modelItem => item.gameid)</td>
            <td>
                <span>&nbsp;</span>
            </td>
        </tr>
    }

</table>

