@model statsmachine.Models.UserViewModel

@{
    ViewBag.Title = "StatsMachine - Main";
}

<h1>@ViewBag.Title</h1>

@Html.Partial("UserInfoBox")



<h2>Debug Menu:</h2>
<h4>Game Filter goes here ...</h4>
<ul>
    <li>@Html.ActionLink("Register GameSystem", "Subscribe", "UserGames", new {}, null)</li>
    <li>@Html.ActionLink("List All Games", "Index", "Warmachine", new { }, null)</li>
    <li>@Html.ActionLink("Log Warmachine Game", "Create", "Warmachine", new { }, null)</li>
    
</ul>